@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing:border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: darkseagreen;
}

.phone {
    position:relative;
    height: 600px;
    width: 340px;
    overflow: hidden;
    border:3px solid #fff;
    border-radius: 15px;
}

.phone .content {
    object-fit: cover;
    position: absolute;
    opacity: 0;
    height: calc(100% - 50px);
    width: 100%;
    top: 0;
    left: 0;
    transition: all .5s ease-out;
}

.phone .content.show {
    opacity: 1;
}

.phone nav {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}

.phone nav ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

.phone nav ul li {
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
    transition: all .3s ease;
}

.phone nav ul li:hover,
.phone nav ul li.active {
    opacity: 1;
}



